.modal {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  padding: 20px; /* Espacement interne du modal */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-icon {
  width: 150px;
  height: 150px;
  margin-top: -20px; /* Espacement entre le titre et l'icône */
}

.modal-header h2 {
  margin: 0;
  color: #333;
  font-size: 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
 margin-left: 700px;
 margin-bottom: 90px;
 color: red;
 position: fixed;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 15px; /* Espace entre les champs */

  padding: auto; /* Espacement autour du modal */
  
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #666;
}

.required {
  color: red;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border-color: #31ca97;
}

.file-input {
  display: flex;
  align-items: center;
 
}

.browse-btn {
  padding: 10px 20px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.submit-btn {
  background: #00A551;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.submit-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background: #10B981;
}
/*message d'erreur*/
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}
