
<app-sidebare></app-sidebare>

<button class="add-department-btn" (click)="openAddDepartmentForm()">Ajouter Département</button>

<!-- Formulaire pour ajouter un département -->
<!-- Formulaire pour ajouter un département -->
<div *ngIf="isAddDepartmentFormVisible" class="modal">
    <div class="modal-content">
      <h2>Ajouter un Département</h2>
      <input type="text" [(ngModel)]="newDepartment.nom" placeholder="Nom du département" />
      <input type="text" [(ngModel)]="newDepartment.code" placeholder="Code du département" />
      <input type="date" [(ngModel)]="newDepartment.date_de_creation" placeholder="Date de création" />
  
      <div class="button-container">
        <button class="validate-btn" (click)="addDepartment()">Valider</button>
        <button class="cancel-btn" (click)="cancelAddDepartment()">Annuler</button>
      </div>
    </div>
  </div>
  

<div class="container">
  <div class="department-list">
    <div class="department-card" *ngFor="let department of departments">
      <div class="department-name">{{ department.nom }}</div>
      <div class="department-code">{{ department.code }}</div>
      <div class="department-date">Créé le : {{ department.date_de_creation }}</div>
    </div>
  </div>
</div>
