<div class="container">
  <h2>Scanner une carte RFID</h2>

  <label for="uid">UID de la carte :</label>
  <input type="text" id="uid" [value]="uid" readonly />

  <!-- Bouton pour valider et mettre à jour l'UID -->
  <button (click)="updateUid()" [disabled]="!uid">Valider</button>

 <!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button class="close" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <p *ngIf="successMessage"> {{ successMessage }}</p>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>
</div>

</div>
