<div class="container">
    <button (click)="toggleAffectation()">Scanner une carte</button>
  
    <div *ngIf="isAffectationVisible" class="form">
      <div class="form-group">
        <label for="cardUID">UID de la carte :</label>
        <input
          type="text"
          id="cardUID"
          [placeholder]="cardUID || 'Aucun UID scanné pour l\'instant...'"
          readonly
        />
      </div>
  
      <div class="form-group">
        <label for="cardInfo">Message :</label>
        <input
          type="text"
          id="cardInfo"
          [placeholder]="cardInfo || 'Aucun message pour l\'instant...'"
          readonly
        />
      </div>
    </div>
  </div>
  