<!-- Sidebar container -->
<div class="sidebar">
    <!-- Logo section -->
    <div class="logo-section">
        <div class="logo">
            <img src="logo.png" alt="Logo Sunupointage">
        </div>
    </div>
    

    <!-- Navigation menu -->
    <nav class="nav-menu">
        <a routerLink="/dasbord" routerLinkActive="active" class="nav-item active">
            <i class="fas fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
        <a routerLink="/pointage" routerLinkActive="active" class="nav-item">
            <i class="fas fa-crosshairs"></i>
            <span>Pointage</span>
        </a>
        <a routerLink="/employer"  routerLinkActive="active" class="nav-item">
            <i class="fas fa-user-tie"></i>
            <span>Employer</span>
        </a>
        <a routerLink="/historique" routerLinkActive="active" class="nav-item">
            <i class="fas fa-history"></i>
            <span>Historique</span>
        </a>
        <a routerLink="/apprenant"   routerLinkActive="active" class="nav-item">
            <i class="fas fa-graduation-cap"></i>
            <span>Apprenant</span><br><br>
        </a>
        <a routerLink="/departement" routerLinkActive="active"  class="nav-item">
            <i class="fas fa-building"></i>
            <span>Department</span>
        </a>
        <a routerLink="/cohorte" routerLinkActive="active"  class="nav-item">
            <i class="fas fa-users"></i>
            <span>Cohort</span>
        </a>

        <app-reussi></app-reussi>

    </nav>
</div>

