/* Container principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur pleine page */
    width: 1750px;
    background-color: #ffffff; /* Fond blanc pour tout l'écran */
    gap: 0px; /* Espacement entre les blocs */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Section photo */
  .photo img {
    max-width: 100%;
    width: 800px; /* Taille fixe ou ajustable */
    object-fit: contain; /* Ajuste l'image */
    margin-left: -250px; /* Décale l'image de 74px vers la gauche */
  }
  
  /* Formulaire */
  .login-form {
    background-color: #fff;
    height: 550px;
    width: 1000px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .login-form h2 {
    color: #28a745; /* Vert pour correspondre au design */
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  .login-form p {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Champs de formulaire */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Bouton */
  .btn-login {
    width: 100%;
    background-color: #28a745; /* Couleur verte */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #218838; /* Plus foncé au hover */
  }
  
  /* Lien mot de passe oublié */
  .forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
    text-align: left;
  }
  