
<div class="dashboard-container">
   

    <!-- Première rangée de statistiques -->
    <div class="stats-grid">
        <div class="stat-card">
            <div class="stat-icon green">
                <img src="cohorte.png" alt="Départements" class="custom-icon">
            </div>
            <div class="stat-content">
                <span class="stat-value">{{ departmentCount }}</span>
                <span class="stat-label">Départements</span>
            </div>
            
        </div>

        <div class="stat-card">
            <div class="stat-icon mint">
                <div class="stat-icon green">
                    <img src="utilisateur.png" alt="Utilisateur" class="custom-icon">
                </div>
            </div>
            <div class="stat-content">
                <span class="stat-value">{{ userCount }}</span>
                <span class="stat-label">Utilisateurs</span>
            </div>
            
        </div>

        <div class="stat-card">
            <div class="stat-icon mint">
                <div class="stat-icon green">
                    <img src="cohorte.png" alt="Vigile" class="custom-icon">
                </div>
            </div>
            <div class="stat-content">
                <span class="stat-value">{{ cohorteCount }}</span>
                <span class="stat-label">Cohortes</span>
            </div>
            
        </div>
    </div>

     

</div>

